{
    "branches": [
        "main"
    ],

    "plugins": [
        "@semantic-release/commit-analyzer",
        {
            "preset": "conventionalcommits",
            "releaseRules": [
              { "type": "feat", "release": "minor" },
              { "type": "fix", "release": "patch" },
              { "type": "BREAKING CHANGE", "release": "major" }
            ]
        },
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md"
            }
        ],
        [
            "@semantic-release/npm",
            {
              "npmPublish": true,
              "tarballDir": "dist"
            }
        ],
        [
            
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md"
                ]
            }
        ],
        "@semantic-release/github"

    ]
}
